body {
  transition: 0.25s;
}

.main {
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.calculator {
  transform: translateY(-20px);
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#display {
  width: 90%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1.5em;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: default; /* Default cursor when not focused */
  transition: cursor 0.2s ease; /* Transition for smoother effect */
}


#display.cursor {
  cursor: text; /* Cursor set to text when focused */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clear {
  grid-column: span 2;
  background-color: #ff6666;
  color: #fff;
}

.clear, .equal, button[colspan="2"] {
  grid-column: span 2;
}

.operator, .equal {
  background-color: #ffcc66;
  color: #fff;
}

.dot {
  background-color: #66b3ff;
  color: #fff;
}

button:active {
  background-color: #e0e0e0;
  box-shadow: none;
}

.equal {
  grid-column: span 2;
  background-color: #ffcc66;
  color: #fff;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
